<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Whatsapp</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <h1>Mini Whatsapp - Edit Chat</h1>

    <div class="chats-container">
        <form action="/chats/<%= chat._id %>/edit?_method=PATCH" method="post" class="new-chat-form">
            <div class="new-chats">
                <label for="from">Send By </label>
                <input type="text" name="from" id="from" value=<%= chat.from %> required />
            </div>
            <div class="new-chats">
                <label for="to">Send to </label>
                <input type="text" name="to" id="to" placeholder="Nishant" value=<%= chat.to %> required />
            </div>
            <div class="new-chats">
                <label for="msg">Message </label>
                <textarea type="text" name="msg" id="msg" required><%= chat.msg %>
                </textarea>
            </div>
            <button>Update</button>
        </form>
    </div>
</body>

</html>