<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <h1>New User</h1>
    <form action="/users" method="post">
        <label for="username">username : </label>
        <input type="username" id="username" required name="username" />
        <label for="email">email : </label>
        <input type="email" id="email" required name="email" />
        <label for="password">password : </label>
        <input type="password" name="password" required id="password" />
        <button>Add New User</button>
    </form>

</body>

</html>