<%- include("includes/head.ejs", {title : "Error" , includeCSS : false}); %>

    <body>
        <h1 style="background-color: red;
        color: white; 
        font-size: 50px; 
        text-align: center; 
        text-transform: capitalize;">
            Sorry!! But we have no such Accounts....
        </h1>

        <%- include("includes/footer.ejs"); %>

    </body>
    </html>