<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <h1>Welcome to the Contact Page of Our Application</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/service">Service</a></li>
        <li><a href="/dice">Roll Dice</a></li>
    </ul>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ullam aperiam illo at hic ratione fugiat optio tenetur facere nemo veniam temporibus officiis fuga molestias nulla sed nobis ipsum iusto, nostrum itaque asperiores mollitia totam consequatur. A sequi praesentium iure quae magni! Atque cupiditate, quia accusamus inventore modi et sapiente!</p>
</body>
</html>